

.textCenter {
  text-align: center;
  
}

.blogBody {
  margin: auto;
  width: 50%;
  border: 3px solid black;
  border-radius: 20px;
  padding:10px;
  text-align: center;
  
  box-sizing: content-box;
}

.inputField{
  padding:5px;
  text-align: center;
  margin:auto;
  width:20%;
  border:3px solid black;
  
}
.inputAdd{

  padding: 10px 20px;
  text-align: center;



}
input{
  padding: 5px
}


.buttons{
  padding:10px;
  display:inline-block;
  
}